.category-radio-group {
    display: flex;
    flex-direction: column;

    .description {
        padding-left: 35px;
    }
}

.category-checkbox-group {
    margin: 15px 0;
}

.category-radio-button,
.category-checkbox {
    margin: 5px;
}

.label {
    font-weight: bold;
}

.description {
    padding-left: 30px;
    font-size: 80%;
}