<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <div class="side-nav-wrapper">
      <mat-form-field class="example-full-width">
        <input matInput type="search" (keydown.enter)="triggerSearch()" placeholder="Suchbegriff"
          [(ngModel)]="searchTerm">
        <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchTerm()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="triggerSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <p *ngIf="loading">
        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
      </p>
      <p *ngIf="datasets && !loading">
        {{datasets.length}} Ergebnis gefunden
      </p>
      <app-distribution-facet></app-distribution-facet>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <app-search-result-list [datasets]="datasets"></app-search-result-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
