:host {
    display: flex;
    flex-direction: row;

    .category-selection,
    .visualisation-results {
        padding: 20px;
        width: 50%;
        flex: 1 1 50%;
    }

    .visualisation-results {
        table {
            width: 100%;
        }
    }
}

tr.vis-detail-row {
    height: 0;
}

tr.vis-row:not(.expanded-row):hover {
    background: #777;
    cursor: pointer;
}

.vis-row td {
    border-bottom-width: 0;
}

.vis-detail {
    overflow: hidden;
    display: flex;
}

.vis-description {
    padding: 16px 0px;

    ::ng-deep {
        .information-image {
            max-width: 100%;
        }
    }

}