<div class="category-selection">
  <div *ngFor="let group of groups">
    <app-category-group [group]="group"></app-category-group>
  </div>
  <!-- <pre>{{groups | json: 2}}</pre> -->
</div>

<div class="visualisation-results" *ngIf="visualisations.data.length !== 0">

  <table mat-table [dataSource]="visualisations" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Vis </th>
      <td mat-cell *matCellDef="let vis">
        <div>{{vis.label}}</div>
        <mat-progress-bar mode="determinate" value="{{vis.score}}" color="warn"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let vis" [attr.colspan]="displayedColumns.length">
        <div class="vis-detail" [@detailExpand]="vis == expandedVis ? 'expanded' : 'collapsed'">
          <!-- vis content goes here-->
          <!-- <div class="vis-description">
            {{vis.key}}
          </div> -->
        </div>
      </td>
    </ng-container>

    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <tr mat-row *matRowDef="let vis; columns: displayedColumns;" class="vis-row"
      [class.expanded-row]="expandedVis === vis" (click)="expandedVis = expandedVis === vis ? null : vis">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="vis-detail-row"></tr>
  </table>

</div>