:host {
    display: flex;
    flex-direction: row;

    .category-selection,
    .visualisation-results {
        padding: 20px;
        width: 50%;
        flex: 1 1 50%;
    }

    .visualisation-results {
        table {
            width: 100%;
        }
    }
}