<div>
  <div *ngIf="distribution.label">{{distribution.label}}</div>
  <div *ngIf="distribution.accessURL">{{distribution.accessURL}} - {{distribution.type}}</div>

  <span [ngSwitch]="distribution.type">
    <div *ngSwitchCase="'GEOJSON'">
      <app-geojson-map [distribution]="distribution"></app-geojson-map>
    </div>
    <div *ngSwitchCase="'WMS'">
      <app-wms-map [distribution]="distribution"></app-wms-map>
    </div>
    <div *ngSwitchCase="'CSV'">
      <app-vis-resolver-starter [fileName]="distribution.accessURL"></app-vis-resolver-starter>
    </div>

    <span *ngSwitchDefault></span>
  </span>
</div>