:host {

    .container {
        position: absolute;
        top: 64px;
        bottom: 0;
        left: 0;
        right: 0;

        .error-card {
            margin: 20px;
        }

        .details-wrapper {
            padding: 0px 20px 20px;

            .download {
                padding: 10px 0px;
            }

            ::ng-deep {
                a {
                    color: aqua !important;
                }
            }
        }
    }
}