<mat-sidenav-container class="container">
    <mat-progress-bar mode="indeterminate" *ngIf="loadingDataset || loadingMetadata"></mat-progress-bar>
    <mat-card class="error-card" *ngIf="error">
        <div [innerHTML]="error"></div>
    </mat-card>
    <div class="details-wrapper" *ngIf="dataset">
        <h1>{{dataset.title}}</h1>
        <div [innerHTML]="dataset.description"></div>
        <div *ngIf="metadata">
            <app-vis-resolver [metadata]="metadata"></app-vis-resolver>
        </div>
    </div>
</mat-sidenav-container>