<mat-sidenav-container class="container">
    <mat-progress-bar mode="indeterminate" *ngIf="loadingDataset || loadingMetadata"></mat-progress-bar>
    <div style="padding: 20px 20px 0px;">
        <button mat-button [routerLink]="'/details/'+this.id">
            <mat-icon>arrow_back</mat-icon>
            Back to dataset
        </button>
    </div>
    <mat-card class="error-card" *ngIf="error">
        <div [innerHTML]="error"></div>
    </mat-card>
    <div class="details-wrapper" *ngIf="dataset">
        <h1 class="title">{{dataset.title}}</h1>
        <div class="description" [innerHTML]="dataset.description"></div>

        <div class="controls">
            <a mat-stroked-button href="{{dataset.mfundUrl}}" target="_blank">Öffne in der mCloud</a>

            <a mat-stroked-button href="{{fileName}}" target="_blank">Download CSV-File</a>

            <a mat-stroked-button *ngIf="metadata"
                href="http://mviz-exploration.us-east-1.elasticbeanstalk.com/{{metadata._id}}" target="_blank">
                Zeige Analyse zur CSV-Datei
            </a>

        </div>

        <div *ngIf="metadata">
            <app-vis-resolver [metadata]="metadata"></app-vis-resolver>
        </div>
    </div>
</mat-sidenav-container>