:host {

    .container {
        position: absolute;
        top: 64px;
        bottom: 0;
        left: 0;
        right: 0;

        .error-card {
            margin: 20px;
        }

        .details-wrapper {
            padding: 30px;

            ::ng-deep {
                a {
                    color: aqua !important;
                }
            }
        }
    }
}